$bgc: #EBEFF2;

$mainblue: #111E6C;

$mainred: #F21D2F;

$text: #080E33;

$white: #FFFFFF;

$greybox: #888C8B;

$blueone: #2039CC;

$bluetwo: #192DA1;

$bluethree: #111E6C;

$bluefour: #0C154A;

$greycircle: #C4C4C4;

