@import "~normalize.css";

@import "_variables";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: $bgc;
}

.header {
    min-width: 320px;
    max-width: 1440px;
    height: 300px;
    margin: 10px auto;
    background-image: url('../assets/img/background-header-truck.jpg');
    background-position: 60% 0%;
}

.header__container {
    min-width: 320px;
    max-width: 1440px;
    height: 300px;
    margin: 10px auto;
    background-color: $mainblue;
    opacity: .6;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 5px -3px black;

}

.header__logo {
    height: 218px;
    width: 218px;
    color: white;
}

.about {
    width: 300px;
    margin: 10px auto 30px auto;
    padding: 15px;
}

.about__title {
    border-bottom: solid 6px $mainred;
    font-family: 'Bebas Neue';
    font-size: 24px;
    letter-spacing: .1em;
    text-align: center;
    display: block;
    width: 100px;
    margin: 10px auto;
}

.about__content {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: .05em;
    text-align: justify;
}

.about__button {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    letter-spacing: .2em;
    padding: 5px 35px;
    background-color: $bgc;
    border: solid 3px $mainred;
    transition: background-color .2s linear;
}

.about__button:hover {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    letter-spacing: .2em;
    color: $bgc;
    padding: 5px 35px;
    background-color: $mainred;
    border: solid 3px $mainred;
}

.statistic {
    margin: 10px auto;
    width: 320px;
}

.statistic__imageContainer {
    width: 300px;
    height: 200px;
    position: relative;
    margin: 20px auto;
}


.statistic__imageContainer--box {
    width: 180px;
    height: 120px;
    background-color: $greybox;
    position: absolute;
    top: 0;
    left: 0;
}

.statistic__imageContainer--imageBox {
    width: 250px;
    height: 150px;
    border: solid 8px $white;
    position: absolute;
    bottom: 0;
    right: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.75));
}

.statistic__dataContainer {
    width: 250px;
    background-color: $mainblue;
    margin: 20px auto;
    padding: 25px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.75));
}

.statistic__dataContainer--description {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    letter-spacing: .05em;
    margin-top: 0;
    text-align: center;
    color: $bgc;
}

.statistic__dataContainer--value {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    letter-spacing: .05em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: $mainred;
}

.statistic__dataContainerSecond {
    width: 250px;
    background-color: $mainred;
    margin: 20px auto;
    padding: 25px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.75));
}

.statistic__dataContainerSecond--description {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    letter-spacing: .05em;
    margin-top: 0;
    text-align: center;
    color: $bgc;
}

.statistic__dataContainerSecond--value {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    letter-spacing: .05em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: $mainblue;
}

.features {
    background-image: url('../assets/img/background-features-truck.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    max-width: 1440px;
    margin: 10px auto;
    box-shadow: 0 5px 5px -3px black;
}

.features__container {
    width: 320px;
 margin: 50px auto;
 
}

.features__container--boxOne {
    height: 200px;
    width: 200px;
    background-color: $blueone;
    opacity: .9;
    display: inline-block;
}

.features__container--boxTwo {
    height: 200px;
    width: 200px;
    background-color: $bluetwo;
    opacity: .9;
    display: inline-block;
}

.features__container--boxThree {
    height: 200px;
    width: 200px;
    background-color: $bluethree;
    opacity: .9;
    display: inline-block;
}

.features__container--boxFour {
    height: 200px;
    width: 200px;
    background-color: $bluefour;
    opacity: .9;
    display: inline-block;

}

.fContainer__box--circle {
    height: 70px;
    width: 70px;
    background-color: $greycircle;
    border-radius: 50%;
    position: relative;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: center;


}

.fContainer__box--icon {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto auto;
}

.fContainer__box--title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    letter-spacing: .1em;
    margin-bottom: 0;
    text-align: center;
    color: $mainred;
}

.fContainer__box--content {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    letter-spacing: .05em;
    text-align: center;
    margin-top: 0;
    color: $bgc;
}

.future {
    width: 300px;
    margin: 10px auto;
    padding: 15px;
    margin: 20px auto;
}

.future__contentBox {}

.future__contentBox--title {
    border-bottom: solid 6px $mainred;
    font-family: 'Bebas Neue';
    font-size: 24px;
    letter-spacing: .1em;
    text-align: center;
    display: block;
    width: 160px;
    margin: 10px auto;
}

.future__contentBox--text {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: .05em;
    text-align: justify;
}

.future__contentBox--list {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: .05em;
    text-align: justify;
    list-style: none;
   // position: relative;

}

.future__contentBox--listItem {
    position: relative;
}

.future__contentBox--listItem:before {
    position: absolute;
    left: -30px;
    top: 3px;
    content: '';
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url('../assets/img/arrow.svg');
}

.future__imageContainer {
    width: 300px;
    height: 200px;
    position: relative;
}

.future__imageContainer--box {
    width: 180px;
    height: 120px;
    background-color: $greybox;
    position: absolute;
    top: 0;
    left: 0;
}

.future__imageContainer--imageBox {
    width: 225px;
    height: 154px;
    border: solid 8px $white;
    position: absolute;
    bottom: 0;
    right: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.75));
}

.contact {
    background-color: $greybox;
}

.contact__container {
    width: 300px;
    margin: 10px auto;
    padding: 15px;
    margin: 20px auto;
}

.contact__container--title {
    border-bottom: solid 6px $white;
    font-family: 'Bebas Neue';
    font-size: 24px;
    color: $white;
    letter-spacing: .1em;
    text-align: left;
    display: block;
    width: 120px;
    margin-bottom: 0;
}

.contact__container--content {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    letter-spacing: .05em;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    color: $white;
}

.contact__container--icon {
    width: 25px;
    height: 25px;
    margin-top: 5px;
}

.contact__container--iconEnvelope {
    width: 25px;
    height: 20px;
    margin-top: 5px;
}

.contact__container--logo {
    width: 120px;
    height: 120px;
    display: block;
    margin: 15px auto 50px;
}